<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
  <div class="center hero-unit">
    <h1>Καλώς ήρθατε!</h1>

    <h2>
      Αυτή είναι μια δοκιμαστική εφαρμογή του
      <a href="http://railstutorial.org/">Masterbet</a>
      για τα πρακτορεία του ΟΠΑΠ όλης της Ελλάδας.
    </h2>

    <%= link_to "Εγγραφείτε!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% else %>
  <div class="center hero-unit">
    <h1>Καλώς ήρθατε!</h1>

    <h2>
      Αυτή είναι μια δοκιμαστική εφαρμογή του
      <a href="http://railstutorial.org/">Masterbet</a>
      για τα πρακτορεία του ΟΠΑΠ όλης της Ελλάδας.
    </h2>

    <%= link_to "Εγγραφείτε!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %> 